h1 {
	color:blue;
}

p {
	color: green;
}

em {
    color: red;	
}

u {
	color: yellow;
	background-color: red;
}

.first {
background-color: red;
}

.second {
     color: black;
     background-color: blue;
}

.third {
     
     background-color: yellow;
}